.typewriter {
  color: rgb(175, 175, 175);
  width: fit-content;
  font-size: 50px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid rgb(175, 175, 175) 1px; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(30, end), blink-caret 0.7s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 450px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.headerContainer {
  height: 100dvh;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(334deg, #0a0c11, #271640, #3e0821);
  background-size: 180% 180%;
  animation: headerContainer-animation 6s ease infinite;
}
@keyframes headerContainer-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.h1Container {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.h1 {
  cursor: pointer;
  font-size: 30px;
  padding: 10px 30px;
  font-weight: 1000;
  background: linear-gradient(
    90deg,
    rgba(92, 96, 240, 1) 0%,
    rgba(0, 144, 255, 1) 79%,
    rgba(238, 130, 238, 1) 100%
  );
  background-clip: text;
  color: transparent;
}

.body {
  max-width: 600px;
  margin-top: 60px;
  height: 78dvh;
  padding-bottom: 20px;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.body::-webkit-scrollbar {
  display: none;
}
.gradient {
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(334deg, #22304f, #331163, #4a0827);
  background-size: 180% 180%;
  /* animation: gradient-animation 6s ease infinite; */
}

.inputContainer {
  /* background-color: rgb(19, 19, 20); */
  background: transparent;
  display: flex;
  position: fixed;
  bottom: 0;
  padding-bottom: 40px;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
